REACT_APP_SERVER_URL='http://localhost:5000'
REACT_APP_BASE_SEPOLIA_NODE_URL="https://base-sepolia.blockpi.network/v1/rpc/public"
REACT_APP_RECEIVER_ADDRESS='0x09c553CEC41c745F4e2A8c12d76D85d1cFf6dD9e'